# Installation

In [ ]:
!pip3 install pandas

# Import Module

In [ ]:
import pandas as pd

# Import file

In [ ]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df

In [ ]:
path = 'sheets/worldometer_data_original.xlsx'
df = pd.read_excel(path)
df

In [ ]:
path = 'sheets/worldometer_data_original'
df = pd.read_excel(path)
df

In [ ]:
path = 'sheets/worldometer_data_original.xlsx'
df = pd.read_excel(path,sheet_name='sheet3')
df

In [ ]:
header = ['Country/Region',
 'Continent',
 'Population',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'WHO Region']

path = 'sheets/worldometer_data_noHeader.csv'
df = pd.read_csv(path,names=header)
df

In [ ]:
path = 'sheets/worldometer_data_spaceBeforeHeader.csv'
df = pd.read_csv(path,header=5)
df

# Export file

In [ ]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df.to_csv('sheets/worldometer_data_original_new.csv',index=False)

In [ ]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df.to_excel('sheets/worldometer_data_original_new.xlsx',index=False)

# Conversion datatype

### Convert to dataframe

In [ ]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
type(df)

In [ ]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
df

In [ ]:
data = [
    {'A': 1, 'B': 4, 'C': 7},
    {'A': 2, 'B': 5, 'C': 8},
    {'A': 3, 'B': 6, 'C': 9}
]
df = pd.DataFrame(data)
df

In [ ]:
data

In [ ]:
import numpy as np

data = np.array([[1, 4, 7], [2, 5, 8], [3, 6, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

In [ ]:
data = [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

### Convert to series

In [ ]:
# df = pd.read_csv('sheets/result_prediction.csv')
# print(df['mean_diff'])
# print(type(df['mean_diff']))

In [ ]:
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
series

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(data)
series

### Convert dataframe/series to others

In [ ]:
data = [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

data_dict = df.to_dict()
print(data_dict)

In [ ]:
data = [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

data_dict = df.to_dict(orient='list')
print(data_dict)

In [ ]:
data = [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

data_ser = df['A']
print(data_ser)

data_list = df['A'].to_list()
print(data_list)

In [ ]:
data = [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

for index, values in df.iterrows():
    print(f'index = {index}')
    print(values)

# Indexing

In [ ]:
path = 'sheets/worldometer_data_original.csv'
df = pd.read_csv(path)
df

### Basic indexing

In [ ]:
df['Country/Region']

In [ ]:
df.Continent

In [ ]:
df[['Country/Region','TotalCases']]

In [ ]:
df['Country/Region'][0]

In [ ]:
# cont_df = df['Continent'].value_counts()
# print(cont_df)
# print(cont_df[0])
# print(cont_df['Africa'])
# print(cont_df[0:4])
# print(cont_df[-1])
# print(cont_df[::-1])

### iloc/loc indexing

In [ ]:
sorted_df = df.sort_values(by=['TotalDeaths'],ascending=False)
sorted_df

In [ ]:
sorted_df.iloc[2]

In [ ]:
df.loc[2]

In [ ]:
df.loc[2]['Continent']

### Condition indexing

In [ ]:
df

In [ ]:
df['TotalDeaths']>1e4

In [ ]:
df[df['TotalDeaths']>10000]

In [ ]:
df

In [ ]:
df[df['Continent'] == 'Asia']

In [ ]:
df[df['TotalDeaths']>1e4]

In [ ]:
df.index[df['TotalDeaths']>1e4]

In [ ]:
df[df['TotalDeaths']>1e4].index

# Observe and Clean data

### Structure

In [ ]:
path = 'sheets/worldometer_data_original.csv'
df = pd.read_csv(path)
df

In [ ]:
df.shape

In [ ]:
len(df)

In [ ]:
print(df.columns)
print(df.columns.to_list())

In [ ]:
print(df.index)
print(df.index.tolist())

### Example

In [ ]:
path = 'sheets/worldometer_data_original.csv'
df = pd.read_csv(path)
df

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
df.sample(13)

In [ ]:
df.sample(len(df))

In [ ]:
print(df.to_string())

### Missing data

In [ ]:
df_temp = pd.read_csv(
    '/Users/internmet/Desktop/nine_vscode/AI_med/Class5_pandas_2023/sheets/data_research_clean/test_miss_data.csv')
print('\n-------- data --------')
print(df_temp)

## check missing data
print('\n-------- Check each value whereas Na or not --------')
print(df_temp.isna())  ## or data.isnull() --> same method

print('\n-------- Check Na but be inverse of isna --------')
print(df_temp.notna())  ## True if value exit

print('\n-------- Sum missed data each column --------')
print(df_temp.isna().sum())

print('\n-------- Sum all missing data --------')
print(df_temp.isna().sum().sum())

In [ ]:

## Dropna

print(df_temp)

print('\n-------- drop rows --------')
print(df_temp.dropna())

print('\n-------- drop row with particular col --------')
print(df_temp.dropna(subset=['value1']))

print('\n-------- drop col --------')
print(df_temp.dropna(axis=1))

In [ ]:
df_new1['num_miss'].mean()

In [ ]:
## Fillna
print(df_temp)

print('\n-------- Fillna with specific value --------')
print(df_temp.fillna('xxx'))

print('\n-------- Fillna with specific col and specific value --------')
fillna_dict = {'value': 114, 'value1': 'asa'}
print(df_temp.fillna(value=fillna_dict))

print('\n-------- Fillna with specific col by its mean value --------')
df_new1 = df_temp.copy()
df_new1['num_miss'] = df_new1['num_miss'].fillna(df_new1['num_miss'].mean())
print(df_new1)

print('\n-------- Fillna with specific col by backward filling--------')
df_new1 = df_temp.copy()
df_new1['num_miss'] = df_new1['num_miss'].bfill()
print(df_new1)

print('\n-------- Fillna with specific col by forward filling --------')
df_new1 = df_temp.copy()
df_new1['num_miss'] = df_new1['num_miss'].ffill()
print(df_new1)

In [ ]:
## Replace
import numpy as np
print('\n-------- Replace specific value with NA--------')
df_new1 = df_temp.copy()
df_new1['999_is_NA'] = df_new1['999_is_NA'].astype('str').replace('999', np.nan)
print(df_new1)

In [ ]:
## Interpolate
print('\n-------- Interpolate value with specific col --------')
df_new1 = df_temp.copy()
df_new1['num_miss'] = df_new1['num_miss'].interpolate(
    limit_direction='both')  ## fill with mean of next and previous value
print(df_new1)

### Duplicated data

In [ ]:
df_dup = pd.read_csv('/Users/internmet/Desktop/nine_vscode/AI_med/Class5_pandas_2023/sheets/data_research_clean/test_duplicate.csv')
print('\n-------- data --------')
print(df_dup)

## Observe duplicate row
print('\n-------- Sum duplicated row --------')
print(df_dup.duplicated().sum())

## Drop duplicated row
print('\n-------- Drop duplicated entire row --------')
print(df_dup.drop_duplicates(ignore_index=True))

print('\n-------- Drop row which duplicated specific col--------')
print(df_dup.drop_duplicates(ignore_index=True, subset=['name']))

### Data types

In [ ]:
df_type = pd.read_csv('/Users/internmet/Desktop/nine_vscode/AI_med/Class5_pandas_2023/sheets/data_research_clean/test_data_type.csv')
print('\n-------- data --------')
print(df_type)

## Observe data's type
print('\n-------- Observe data\'s type  --------')
print(df_type.dtypes)
print(df_type.info())

## Convert data's type
print('\n-------- Convert data\'s type (astype) --------')
df_type['cat_or_dog'] = df_type['cat_or_dog'].astype('category')
print(df_type.info())

print('\n-------- Convert data\'s type (to_numeric) --------')
df_type['str+int+float'] = pd.to_numeric(df_type['str+int+float'], errors='coerce').fillna(0)
print(df_type.info())
print(df_type)

## Convert datetime
print('\n-------- Convert data\'s type (datetime) --------')
df_type['test_date1'] = pd.to_datetime(df_type['test_date1'], )
df_type['test_date2'] = pd.to_datetime(df_type['test_date2'], dayfirst=True)
df_type['test_date3'] = pd.to_datetime(df_type['test_date3'], format='%d/%m/%Y')
df_type['test_date4'] = df_type['test_date4'].apply(lambda x: str(int(x[:4]) - 543) + x[4:])
df_type['test_date4'] = pd.to_datetime(df_type['test_date4'], format='%Y**%d**%m')
df_type['real_datetime_type'] = pd.to_datetime(df_type['real_datetime_type'], format='%Y-%m-%d %H:%M:%S%z')
df_type['real_but_no_time_zone'] = pd.to_datetime(df_type['real_but_no_time_zone'], format='%m/%d/%Y %H:%M')

df_type['year_real'] = df_type['real_datetime_type'].dt.year
df_type['month_real'] = df_type['real_datetime_type'].dt.month
df_type['day_real'] = df_type['real_datetime_type'].dt.day

print(df_type.to_string())
print(df_type.info())

### Stats

In [ ]:
path = 'sheets/worldometer_data_original.csv'
df = pd.read_csv(path)
df[['Population','TotalDeaths']].describe()

In [ ]:
df['Population'].min()

In [ ]:
df['TotalCases'].max()

In [ ]:
df['TotalDeaths'].mean()

In [ ]:
df['TotalDeaths'].var()

In [ ]:
df['Continent'].value_counts()

# Sorting

In [ ]:
path = 'sheets/worldometer_data_original.csv'
df = pd.read_csv(path)
df = df.sample(len(df))
df

In [ ]:
df.sort_index()

In [ ]:
df.sort_values(by=['TotalDeaths'], ascending=False)

# Searching

In [ ]:
df['Continent']

In [ ]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df = df.dropna(subset=['Continent'])
df[df['Continent'].str.contains('America')]

In [50]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df = df.dropna(subset=['Continent'])
df[df['Continent'].str.match('Asia')]

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
10,Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
12,Saudi Arabia,Asia,3.486592e+07,284226,NaN,3055.0,NaN,247089.0,NaN,34082.0,1915.0,8152.0,88.0,3635705.0,104277.0,EasternMediterranean
13,Pakistan,Asia,2.212959e+08,281863,NaN,6035.0,NaN,256058.0,NaN,19770.0,809.0,1274.0,27.0,2058872.0,9304.0,EasternMediterranean
14,Bangladesh,Asia,1.648514e+08,249651,NaN,3306.0,NaN,143824.0,NaN,102521.0,NaN,1514.0,20.0,1225124.0,7432.0,South-EastAsia
16,Turkey,Asia,8.442833e+07,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
20,Iraq,Asia,4.030602e+07,140603,NaN,5161.0,NaN,101025.0,NaN,34417.0,517.0,3488.0,128.0,1092741.0,27111.0,EasternMediterranean
21,Philippines,Asia,1.097227e+08,119460,NaN,2150.0,NaN,66837.0,NaN,50473.0,239.0,1089.0,20.0,1669996.0,15220.0,WesternPacific
22,Indonesia,Asia,2.738084e+08,118753,NaN,5521.0,NaN,75645.0,NaN,37587.0,NaN,434.0,20.0,1633156.0,5965.0,South-EastAsia
24,Qatar,Asia,2.807805e+06,112092,NaN,178.0,NaN,108831.0,NaN,3083.0,77.0,39922.0,63.0,511000.0,181993.0,EasternMediterranean
25,Kazakhstan,Asia,1.879867e+07,95942,NaN,1058.0,NaN,68871.0,NaN,26013.0,221.0,5104.0,56.0,2163713.0,115099.0,Europe
30,Oman,Asia,5.118446e+06,80713,NaN,492.0,NaN,70910.0,NaN,9311.0,177.0,15769.0,96.0,309212.0,60411.0,EasternMediterranean
31,Israel,Asia,9.197590e+06,79559,NaN,576.0,NaN,53427.0,NaN,25556.0,358.0,8650.0,63.0,1872453.0,203581.0,Europe
36,Kuwait,Asia,4.276658e+06,70045,NaN,469.0,NaN,61610.0,NaN,7966.0,127.0,16378.0,110.0,522200.0,122105.0,EasternMediterranean
38,UAE,Asia,9.902079e+06,61845,NaN,354.0,NaN,55739.0,NaN,5752.0,NaN,6246.0,36.0,5262658.0,531470.0,EasternMediterranean
41,Singapore,Asia,5.854932e+06,54555,NaN,27.0,NaN,48031.0,NaN,6497.0,NaN,9318.0,5.0,1474372.0,251817.0,WesternPacific
47,Bahrain,Asia,1.706669e+06,42889,NaN,156.0,NaN,39945.0,NaN,2788.0,41.0,25130.0,91.0,876700.0,513691.0,EasternMediterranean
48,Japan,Asia,1.264359e+08,42263,NaN,1026.0,NaN,28877.0,NaN,12360.0,115.0,334.0,8.0,938739.0,7425.0,WesternPacific
49,Armenia,Asia,2.963811e+06,39819,NaN,772.0,NaN,31556.0,NaN,7491.0,NaN,13435.0,260.0,171600.0,57898.0,Europe
51,Kyrgyzstan,Asia,6.534479e+06,38659,NaN,1447.0,NaN,30099.0,NaN,7113.0,24.0,5916.0,221.0,267718.0,40970.0,Europe
52,Afghanistan,Asia,3.900945e+07,36896,NaN,1298.0,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
55,Azerbaijan,Asia,1.014824e+07,33247,NaN,479.0,NaN,29275.0,NaN,3493.0,66.0,3276.0,47.0,766179.0,75499.0,Europe
57,Uzbekistan,Asia,3.351603e+07,28315,NaN,175.0,NaN,19291.0,NaN,8849.0,228.0,845.0,5.0,1377915.0,41112.0,Europe
63,Nepal,Asia,2.918649e+07,21750,NaN,65.0,NaN,15389.0,NaN,6296.0,NaN,745.0,2.0,731977.0,25079.0,South-EastAsia
72,S. Korea,Asia,5.127373e+07,14519,20.0,303.0,1.0,13543.0,42.0,673.0,18.0,283.0,6.0,1613652.0,31471.0,WesternPacific
74,Palestine,Asia,5.112340e+06,13398,NaN,92.0,NaN,6907.0,NaN,6399.0,NaN,2621.0,18.0,200280.0,39176.0,EasternMediterranean
83,Malaysia,Asia,3.240637e+07,9038,NaN,125.0,NaN,8713.0,NaN,200.0,2.0,279.0,4.0,991333.0,30591.0,WesternPacific
86,Tajikistan,Asia,9.557468e+06,7665,NaN,62.0,NaN,6443.0,NaN,1160.0,NaN,802.0,6.0,NaN,NaN,Europe
95,Lebanon,Asia,6.822220e+06,5672,NaN,70.0,NaN,1974.0,NaN,3628.0,46.0,831.0,10.0,345268.0,50609.0,EasternMediterranean
101,Maldives,Asia,5.414480e+05,4680,NaN,19.0,NaN,2725.0,NaN,1936.0,12.0,8643.0,35.0,85587.0,158071.0,South-EastAsia
107,Hong Kong,Asia,7.503041e+06,3850,NaN,46.0,NaN,2458.0,NaN,1346.0,39.0,513.0,6.0,692430.0,92287.0,WesternPacific
110,Thailand,Asia,6.981789e+07,3330,NaN,58.0,NaN,3148.0,NaN,124.0,1.0,48.0,0.8,749213.0,10731.0,South-EastAsia
114,Sri Lanka,Asia,2.142236e+07,2839,NaN,11.0,NaN,2541.0,NaN,287.0,1.0,133.0,0.5,166737.0,7783.0,South-EastAsia
131,Yemen,Asia,2.988690e+07,1768,NaN,508.0,NaN,898.0,NaN,362.0,NaN,59.0,17.0,120.0,4.0,EasternMediterranean
137,Jordan,Asia,1.021314e+07,1232,NaN,11.0,NaN,1171.0,NaN,50.0,3.0,121.0,1.0,628745.0,61562.0,EasternMediterranean
140,Cyprus,Asia,1.208238e+06,1208,NaN,19.0,NaN,856.0,NaN,333.0,NaN,1000.0,16.0,216597.0,179267.0,Europe
141,Georgia,Asia,3.988368e+06,1206,NaN,17.0,NaN,987.0,NaN,202.0,NaN,302.0,4.0,240473.0,60294.0,Europe
145,Syria,Asia,1.753960e+07,999,NaN,48.0,NaN,311.0,NaN,640.0,NaN,57.0,3.0,NaN,NaN,EasternMediterranean
154,Vietnam,Asia,9.742547e+07,747,NaN,10.0,NaN,392.0,NaN,345.0,NaN,8.0,0.1,482456.0,4952.0,WesternPacific
162,Taiwan,Asia,2.382120e+07,477,NaN,7.0,NaN,443.0,NaN,27.0,NaN,20.0,0.3,82737.0,3473.0,WesternPacific
165,Myanmar,Asia,5.444639e+07,357,NaN,6.0,NaN,308.0,NaN,43.0,NaN,7.0,0.1,122290.0,2246.0,South-EastAsia
168,Mongolia,Asia,3.283344e+06,293,NaN,NaN,NaN,260.0,NaN,33.0,1.0,89.0,NaN,38334.0,11675.0,WesternPacific
174,Cambodia,Asia,1.674138e+07,243,NaN,NaN,NaN,210.0,NaN,33.0,1.0,15.0,NaN,67807.0,4050.0,WesternPacific
181,Brunei,Asia,4.378930e+05,141,NaN,3.0,NaN,138.0,NaN,0.0,NaN,322.0,7.0,41148.0,93968.0,NaN
186,Bhutan,Asia,7.724430e+05,105,NaN,NaN,NaN,93.0,NaN,12.0,NaN,136.0,NaN,54589.0,70671.0,South-EastAsia
193,Macao,Asia,6.501930e+05,46,NaN,NaN,NaN,46.0,NaN,0.0,NaN,71.0,NaN,4071.0,6261.0,NaN
197,Timor-Leste,Asia,1.320812e+06,25,NaN,NaN,NaN,24.0,NaN,1.0,NaN,19.0,NaN,4238.0,3209.0,South-EastAsia
200,Laos,Asia,7.285750e+06,20,NaN,NaN,NaN,19.0,NaN,1.0,NaN,3.0,NaN,29374.0,4032.0,WesternPacific

In [51]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df = df.dropna(subset=['Continent'])
df[df['Continent'] == 'Asia']

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
10,Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
12,Saudi Arabia,Asia,3.486592e+07,284226,NaN,3055.0,NaN,247089.0,NaN,34082.0,1915.0,8152.0,88.0,3635705.0,104277.0,EasternMediterranean
13,Pakistan,Asia,2.212959e+08,281863,NaN,6035.0,NaN,256058.0,NaN,19770.0,809.0,1274.0,27.0,2058872.0,9304.0,EasternMediterranean
14,Bangladesh,Asia,1.648514e+08,249651,NaN,3306.0,NaN,143824.0,NaN,102521.0,NaN,1514.0,20.0,1225124.0,7432.0,South-EastAsia
16,Turkey,Asia,8.442833e+07,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
20,Iraq,Asia,4.030602e+07,140603,NaN,5161.0,NaN,101025.0,NaN,34417.0,517.0,3488.0,128.0,1092741.0,27111.0,EasternMediterranean
21,Philippines,Asia,1.097227e+08,119460,NaN,2150.0,NaN,66837.0,NaN,50473.0,239.0,1089.0,20.0,1669996.0,15220.0,WesternPacific
22,Indonesia,Asia,2.738084e+08,118753,NaN,5521.0,NaN,75645.0,NaN,37587.0,NaN,434.0,20.0,1633156.0,5965.0,South-EastAsia
24,Qatar,Asia,2.807805e+06,112092,NaN,178.0,NaN,108831.0,NaN,3083.0,77.0,39922.0,63.0,511000.0,181993.0,EasternMediterranean
25,Kazakhstan,Asia,1.879867e+07,95942,NaN,1058.0,NaN,68871.0,NaN,26013.0,221.0,5104.0,56.0,2163713.0,115099.0,Europe
30,Oman,Asia,5.118446e+06,80713,NaN,492.0,NaN,70910.0,NaN,9311.0,177.0,15769.0,96.0,309212.0,60411.0,EasternMediterranean
31,Israel,Asia,9.197590e+06,79559,NaN,576.0,NaN,53427.0,NaN,25556.0,358.0,8650.0,63.0,1872453.0,203581.0,Europe
36,Kuwait,Asia,4.276658e+06,70045,NaN,469.0,NaN,61610.0,NaN,7966.0,127.0,16378.0,110.0,522200.0,122105.0,EasternMediterranean
38,UAE,Asia,9.902079e+06,61845,NaN,354.0,NaN,55739.0,NaN,5752.0,NaN,6246.0,36.0,5262658.0,531470.0,EasternMediterranean
41,Singapore,Asia,5.854932e+06,54555,NaN,27.0,NaN,48031.0,NaN,6497.0,NaN,9318.0,5.0,1474372.0,251817.0,WesternPacific
47,Bahrain,Asia,1.706669e+06,42889,NaN,156.0,NaN,39945.0,NaN,2788.0,41.0,25130.0,91.0,876700.0,513691.0,EasternMediterranean
48,Japan,Asia,1.264359e+08,42263,NaN,1026.0,NaN,28877.0,NaN,12360.0,115.0,334.0,8.0,938739.0,7425.0,WesternPacific
49,Armenia,Asia,2.963811e+06,39819,NaN,772.0,NaN,31556.0,NaN,7491.0,NaN,13435.0,260.0,171600.0,57898.0,Europe
51,Kyrgyzstan,Asia,6.534479e+06,38659,NaN,1447.0,NaN,30099.0,NaN,7113.0,24.0,5916.0,221.0,267718.0,40970.0,Europe
52,Afghanistan,Asia,3.900945e+07,36896,NaN,1298.0,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
55,Azerbaijan,Asia,1.014824e+07,33247,NaN,479.0,NaN,29275.0,NaN,3493.0,66.0,3276.0,47.0,766179.0,75499.0,Europe
57,Uzbekistan,Asia,3.351603e+07,28315,NaN,175.0,NaN,19291.0,NaN,8849.0,228.0,845.0,5.0,1377915.0,41112.0,Europe
63,Nepal,Asia,2.918649e+07,21750,NaN,65.0,NaN,15389.0,NaN,6296.0,NaN,745.0,2.0,731977.0,25079.0,South-EastAsia
72,S. Korea,Asia,5.127373e+07,14519,20.0,303.0,1.0,13543.0,42.0,673.0,18.0,283.0,6.0,1613652.0,31471.0,WesternPacific
74,Palestine,Asia,5.112340e+06,13398,NaN,92.0,NaN,6907.0,NaN,6399.0,NaN,2621.0,18.0,200280.0,39176.0,EasternMediterranean
83,Malaysia,Asia,3.240637e+07,9038,NaN,125.0,NaN,8713.0,NaN,200.0,2.0,279.0,4.0,991333.0,30591.0,WesternPacific
86,Tajikistan,Asia,9.557468e+06,7665,NaN,62.0,NaN,6443.0,NaN,1160.0,NaN,802.0,6.0,NaN,NaN,Europe
95,Lebanon,Asia,6.822220e+06,5672,NaN,70.0,NaN,1974.0,NaN,3628.0,46.0,831.0,10.0,345268.0,50609.0,EasternMediterranean
101,Maldives,Asia,5.414480e+05,4680,NaN,19.0,NaN,2725.0,NaN,1936.0,12.0,8643.0,35.0,85587.0,158071.0,South-EastAsia
107,Hong Kong,Asia,7.503041e+06,3850,NaN,46.0,NaN,2458.0,NaN,1346.0,39.0,513.0,6.0,692430.0,92287.0,WesternPacific
110,Thailand,Asia,6.981789e+07,3330,NaN,58.0,NaN,3148.0,NaN,124.0,1.0,48.0,0.8,749213.0,10731.0,South-EastAsia
114,Sri Lanka,Asia,2.142236e+07,2839,NaN,11.0,NaN,2541.0,NaN,287.0,1.0,133.0,0.5,166737.0,7783.0,South-EastAsia
131,Yemen,Asia,2.988690e+07,1768,NaN,508.0,NaN,898.0,NaN,362.0,NaN,59.0,17.0,120.0,4.0,EasternMediterranean
137,Jordan,Asia,1.021314e+07,1232,NaN,11.0,NaN,1171.0,NaN,50.0,3.0,121.0,1.0,628745.0,61562.0,EasternMediterranean
140,Cyprus,Asia,1.208238e+06,1208,NaN,19.0,NaN,856.0,NaN,333.0,NaN,1000.0,16.0,216597.0,179267.0,Europe
141,Georgia,Asia,3.988368e+06,1206,NaN,17.0,NaN,987.0,NaN,202.0,NaN,302.0,4.0,240473.0,60294.0,Europe
145,Syria,Asia,1.753960e+07,999,NaN,48.0,NaN,311.0,NaN,640.0,NaN,57.0,3.0,NaN,NaN,EasternMediterranean
154,Vietnam,Asia,9.742547e+07,747,NaN,10.0,NaN,392.0,NaN,345.0,NaN,8.0,0.1,482456.0,4952.0,WesternPacific
162,Taiwan,Asia,2.382120e+07,477,NaN,7.0,NaN,443.0,NaN,27.0,NaN,20.0,0.3,82737.0,3473.0,WesternPacific
165,Myanmar,Asia,5.444639e+07,357,NaN,6.0,NaN,308.0,NaN,43.0,NaN,7.0,0.1,122290.0,2246.0,South-EastAsia
168,Mongolia,Asia,3.283344e+06,293,NaN,NaN,NaN,260.0,NaN,33.0,1.0,89.0,NaN,38334.0,11675.0,WesternPacific
174,Cambodia,Asia,1.674138e+07,243,NaN,NaN,NaN,210.0,NaN,33.0,1.0,15.0,NaN,67807.0,4050.0,WesternPacific
181,Brunei,Asia,4.378930e+05,141,NaN,3.0,NaN,138.0,NaN,0.0,NaN,322.0,7.0,41148.0,93968.0,NaN
186,Bhutan,Asia,7.724430e+05,105,NaN,NaN,NaN,93.0,NaN,12.0,NaN,136.0,NaN,54589.0,70671.0,South-EastAsia
193,Macao,Asia,6.501930e+05,46,NaN,NaN,NaN,46.0,NaN,0.0,NaN,71.0,NaN,4071.0,6261.0,NaN
197,Timor-Leste,Asia,1.320812e+06,25,NaN,NaN,NaN,24.0,NaN,1.0,NaN,19.0,NaN,4238.0,3209.0,South-EastAsia
200,Laos,Asia,7.285750e+06,20,NaN,NaN,NaN,19.0,NaN,1.0,NaN,3.0,NaN,29374.0,4032.0,WesternPacific

# Updating

In [53]:
name = 'supapon'
name.replace('su','Ar')

'Arpapon'

In [56]:
 df['Continent'].replace(['North America','South America'],'America')

0      America
1      America
2         Asia
3       Europe
4       Africa
        ...
204    America
205    America
206    America
207     Europe
208     Africa
Name: Continent, Length: 209, dtype: object

In [54]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df['Continent'] = df['Continent'].replace(['North America','South America'],'America')
df

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [57]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df.rename(columns={'Country/Region':'Country'})

,Country,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [61]:
df = pd.read_csv('sheets/worldometer_data_original.csv').sample(5)
df.reset_index(drop=True)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,Eritrea,Africa,3551175.0,282,NaN,NaN,NaN,225.0,NaN,57.0,NaN,79.0,NaN,NaN,NaN,Africa
1,New Zealand,Australia/Oceania,5002100.0,1569,NaN,22.0,NaN,1524.0,NaN,23.0,NaN,314.0,4.0,486943.0,97348.0,WesternPacific
2,Greece,Europe,10417673.0,5123,NaN,210.0,NaN,1374.0,NaN,3539.0,14.0,492.0,20.0,619393.0,59456.0,Europe
3,Somalia,Africa,15933012.0,3227,NaN,93.0,NaN,1728.0,NaN,1406.0,2.0,203.0,6.0,NaN,NaN,EasternMediterranean
4,Lebanon,Asia,6822220.0,5672,NaN,70.0,NaN,1974.0,NaN,3628.0,46.0,831.0,10.0,345268.0,50609.0,EasternMediterranean

# Adding

### Dataframe to Dataframe

In [67]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
print(df1)
print(df2)
pd.concat([df1,df2],axis=0,ignore_index=True)

   A  B
0  1  3
1  2  4
   A  B
0  5  7
1  6  8

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [68]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})
print(df1)
print(df2)
pd.concat([df1,df2],axis=1)

   A  B
0  1  3
1  2  4
   C  D
0  5  7
1  6  8

   A  B  C  D
0  1  3  5  7
1  2  4  6  8

### Series to Dataframe

In [71]:
import pandas as pd

# Sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Sample series
s = pd.Series([7, 8, 9])

print("Original DataFrame:")
print(df)
print("\nSeries:")
print(s)

Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

Series:
0    7
1    8
2    9
dtype: int64

In [76]:
pd.concat([df,s],axis=1).rename(columns={0:'C'})

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
s_ab = pd.Series([3.5,6.5],index=['A','B'])
print(s_ab)
pd.concat([df,pd.DataFrame(s_ab).T],axis=0,ignore_index=True)

In [77]:
df['C'] = s
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
df.loc[len(df)] = [3.5,6.5,9.5]
df

In [ ]:
s2 = pd.Series([10, 11, 12, 12.5], name='E')
df = df.join(s2)
print("\nDataFrame after adding Series using join:")
df

### 2 series to a dataframe

In [78]:
# Sample Series
s1 = pd.Series([1, 2, 3], name='A')
s2 = pd.Series([4, 5, 6], name='B')

# Combining series to form a DataFrame
df = pd.concat([s1, s2], axis=1)

print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [79]:
df = pd.DataFrame({'A': s1, 'B': s2})

print(df)

   A  B
0  1  4
1  2  5
2  3  6

In [89]:
df = pd.read_csv('sheets/worldometer_data_original.csv')
df_asia = df[df['Continent'] == 'Asia']
df_asia['Death/Case_ratio'] = df_asia['TotalDeaths'] / df_asia['TotalCases']
df_asia = df_asia.sort_values(by=['Death/Case_ratio'],ascending=False)
df_asia[['Country/Region','Continent','Death/Case_ratio']]

/var/folders/dk/gmjrw_cn7zj_3g829s6pk4th0000gn/T/ipykernel_74720/2217485770.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_asia['Death/Case_ratio'] = df_asia['TotalDeaths'] / df_asia['TotalCases']

    Country/Region Continent  Death/Case_ratio
131          Yemen      Asia          0.287330
10            Iran      Asia          0.056154
145          Syria      Asia          0.048048
22       Indonesia      Asia          0.046491
51      Kyrgyzstan      Asia          0.037430
20            Iraq      Asia          0.036706
52     Afghanistan      Asia          0.035180
16          Turkey      Asia          0.024437
48           Japan      Asia          0.024277
13        Pakistan      Asia          0.021411
181        Brunei       Asia          0.021277
72        S. Korea      Asia          0.020869
2            India      Asia          0.020558
49         Armenia      Asia          0.019388
21     Philippines      Asia          0.017998
110       Thailand      Asia          0.017417
165        Myanmar      Asia          0.016807
140         Cyprus      Asia          0.015728
162         Taiwan      Asia          0.014675
55      Azerbaijan      Asia          0.014407
141        Georgia      Asia          0.014096
83        Malaysia      Asia          0.013830
154        Vietnam      Asia          0.013387
14      Bangladesh      Asia          0.013242
95         Lebanon      Asia          0.012341
107      Hong Kong      Asia          0.011948
25      Kazakhstan      Asia          0.011027
12    Saudi Arabia      Asia          0.010748
137         Jordan      Asia          0.008929
86      Tajikistan      Asia          0.008089
31          Israel      Asia          0.007240
74       Palestine      Asia          0.006867
36          Kuwait      Asia          0.006696
57      Uzbekistan      Asia          0.006180
30            Oman      Asia          0.006096
38             UAE      Asia          0.005724
101       Maldives      Asia          0.004060
114      Sri Lanka      Asia          0.003875
47         Bahrain      Asia          0.003637
63           Nepal      Asia          0.002989
24           Qatar      Asia          0.001588
41       Singapore      Asia          0.000495
168       Mongolia      Asia               NaN
174       Cambodia      Asia               NaN
186         Bhutan      Asia               NaN
193          Macao      Asia               NaN
197    Timor-Leste      Asia               NaN
200           Laos      Asia               NaN